* {
    margin: 0px;
    padding: 0px;
}

/* container styles */
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* header styles */
#header {
    grid-column: 1 / 3;
}

/* sidebar styles */

/* main content styles */